@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700');

nav{
  background-color: #555;
  position: fixed;
  left: 0;
  top: 0;
  width: 50px;
  height: 100vh;
/*   padding-left: 4px; */
  box-sizing: border-box;
  overflow: hidden;
}
nav .logo{
  background-color: #b500c9;
  height: 50px;
  color: #fff;
  line-height: 50px;
  text-align: center;
}
nav:hover{
  width: 200px;
}
nav ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}
nav ul li{}
nav ul li:nth-child(2){
  border-left: 7px solid #e70aff;
}
nav ul li a{
  display: block;
  text-decoration: none;
  color: #eee;
  font-size: 40px;
  white-space:nowrap;
}
nav ul li a:hover{
  background-color: #444;
}
.fa-user{
  margin-right: 25px;
}
.fa-pencil{
  margin-right: 20px;
}
.fa-envelope{
  font-size: 32px;
  margin-right: 20px;
}
.fa-home{
  margin-right: 15px;
}
section article{
  padding-left: 150px;
  font-family: 'Ubuntu', sans-serif;
}
section article h1{
  font-weight: 700;
  font-size: 30px;
}